In [23]:
import pandas as pd
Telkomsel = pd.read_csv(r'C:\Users\fickysag\Desktop\TDSA\churn.csv')
Telkomsel.head(10)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
0,16,128,415,2845,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,2301,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,31,137,415,1616,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,35,84,408,2510,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,36,75,415,155,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
5,1,118,510,3355,1,0,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,0
6,19,121,510,1516,0,1,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0
7,24,147,415,116,1,0,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,0
8,18,117,408,425,0,0,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,0
9,49,141,415,163,1,1,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0

In [24]:
Telkomsel.isnull().sum()

state                            0
account_length                   0
area_code                        0
phone_number                     0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
class                            0
dtype: int64

In [25]:
Telkomsel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
state                            5000 non-null int64
account_length                   5000 non-null int64
area_code                        5000 non-null int64
phone_number                     5000 non-null int64
international_plan               5000 non-null int64
voice_mail_plan                  5000 non-null int64
number_vmail_messages            5000 non-null int64
total_day_minutes                5000 non-null float64
total_day_calls                  5000 non-null int64
total_day_charge                 5000 non-null float64
total_eve_minutes                5000 non-null float64
total_eve_calls                  5000 non-null int64
total_eve_charge                 5000 non-null float64
total_night_minutes              5000 non-null float64
total_night_calls                5000 non-null int64
total_night_charge               5000 non-null float64
total_intl_minutes               5000 non-null float64
total_intl_calls                 5000 non-null int64
total_intl_charge                5000 non-null float64
number_customer_service_calls    5000 non-null int64
class                            5000 non-null int64
dtypes: float64(8), int64(13)
memory usage: 820.4 KB

In [26]:
Telkomsel.sample(n=10, random_state=10)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
245,40,22,408,188,0,0,0,110.3,107,18.75,...,93,14.15,202.3,96,9.10,9.5,5,2.57,0,0
4493,46,83,510,3540,0,1,37,133.1,117,22.63,...,89,14.57,218.1,92,9.81,10.9,4,2.94,3,0
4583,21,104,415,4068,0,0,0,246.4,108,41.89,...,102,17.47,208.1,125,9.36,14.1,8,3.81,2,0
2242,5,192,415,3875,0,0,0,185.0,88,31.45,...,98,19.12,212.4,105,9.56,11.4,3,3.08,2,0
3407,5,93,415,1000,0,0,0,120.6,104,20.50,...,95,17.47,182.5,107,8.21,9.6,6,2.59,2,0
807,10,56,415,4723,0,1,30,127.1,89,21.61,...,116,14.63,194.6,111,8.76,12.1,3,3.27,1,0
693,31,92,510,4924,0,1,29,155.4,110,26.42,...,104,16.02,254.9,118,11.47,8.0,4,2.16,3,0
515,13,148,510,4941,0,1,14,93.6,137,15.91,...,72,16.47,144.9,84,6.52,17.5,5,4.73,1,0
3224,15,115,415,2269,0,0,0,226.4,101,38.49,...,60,23.53,213.4,82,9.60,12.3,4,3.32,3,1
549,36,121,408,1916,0,1,31,237.1,63,40.31,...,117,17.48,196.7,85,8.85,10.1,5,2.73,4,0

In [27]:
Telkomsel["account_length"].mean()

100.2586

In [19]:
#how many times mostly churn customer call customer service

import statistics as st

In [44]:
Telkomsel.corr(method='pearson').head(5)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
state,1.000000,0.010334,0.013858,0.017054,0.007422,-0.030075,-0.027282,0.007334,-0.008166,0.007334,...,-0.005458,0.003896,0.009538,-0.001699,0.009532,-0.009313,0.009898,-0.009322,-0.012997,0.006946
account_length,0.010334,1.000000,-0.018054,0.004918,0.014681,-0.006650,-0.014575,-0.001017,0.028240,-0.001019,...,0.009143,-0.009587,0.000668,-0.007825,0.000656,0.001291,0.014277,0.001292,-0.001445,0.021203
area_code,0.013858,-0.018054,1.000000,-0.011648,0.032107,-0.003006,-0.003399,-0.019118,-0.019314,-0.019119,...,-0.012300,0.007114,0.002084,0.014657,0.002070,-0.004154,-0.013623,-0.004219,0.020921,0.010195
phone_number,0.017054,0.004918,-0.011648,1.000000,0.010463,0.014384,0.010649,0.002420,-0.012911,0.002415,...,0.022450,-0.006805,0.008814,0.012723,0.008806,-0.008109,-0.024928,-0.008056,0.028258,0.012371
international_plan,0.007422,0.014681,0.032107,0.010463,1.000000,0.009054,0.011947,0.028138,0.008102,0.028141,...,0.002505,0.021234,-0.026508,0.005623,-0.026510,0.031799,0.004493,0.031751,-0.012974,0.259123

In [21]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
state                            5000 non-null int64
account_length                   5000 non-null int64
area_code                        5000 non-null int64
phone_number                     5000 non-null int64
international_plan               5000 non-null int64
voice_mail_plan                  5000 non-null int64
number_vmail_messages            5000 non-null int64
total_day_minutes                5000 non-null float64
total_day_calls                  5000 non-null int64
total_day_charge                 5000 non-null float64
total_eve_minutes                5000 non-null float64
total_eve_calls                  5000 non-null int64
total_eve_charge                 5000 non-null float64
total_night_minutes              5000 non-null float64
total_night_calls                5000 non-null int64
total_night_charge               5000 non-null float64
total_intl_minutes               5000 non-null float64
total_intl_calls                 5000 non-null int64
total_intl_charge                5000 non-null float64
number_customer_service_calls    5000 non-null int64
class                            5000 non-null int64
dtypes: float64(8), int64(13)
memory usage: 820.4 KB

In [37]:
churn = Telkomsel[Telkomsel['class'] == 1]
churn.head(5)
churn ["state"].value_counts().head(5)

31    28
43    26
47    24
49    22
20    21
Name: state, dtype: int64

In [39]:
churn = Telkomsel[Telkomsel['class'] == 1]
churn.count()

state                            707
account_length                   707
area_code                        707
phone_number                     707
international_plan               707
voice_mail_plan                  707
number_vmail_messages            707
total_day_minutes                707
total_day_calls                  707
total_day_charge                 707
total_eve_minutes                707
total_eve_calls                  707
total_eve_charge                 707
total_night_minutes              707
total_night_calls                707
total_night_charge               707
total_intl_minutes               707
total_intl_calls                 707
total_intl_charge                707
number_customer_service_calls    707
class                            707
dtype: int64

In [40]:
# Average Length for Churned customer
churn.mean()

state                              26.251768
account_length                    102.332390
area_code                         437.971711
phone_number                     2543.499293
international_plan                  0.281471
voice_mail_plan                     0.144272
number_vmail_messages               4.496464
total_day_minutes                 207.870580
total_day_calls                   100.817539
total_day_charge                   35.338416
total_eve_minutes                 211.757850
total_eve_calls                    99.884017
total_eve_charge                   17.999562
total_night_minutes               206.078218
total_night_calls                  99.575672
total_night_charge                  9.273607
total_intl_minutes                 10.692362
total_intl_calls                    4.151344
total_intl_charge                   2.887426
number_customer_service_calls       2.254597
class                               1.000000
dtype: float64

In [41]:
st.mean(churn.account_length)

102.33239038189534

In [43]:
st.mean(churn.number_customer_service_calls)

2.2545968882602545

In [45]:
st.mode(churn.total_day_calls)

106

In [48]:
churn ["area_code"].value_counts().head(10)

415    346
510    184
408    177
Name: area_code, dtype: int64

In [50]:
churn ["state"].value_counts().head(15)

31    28
43    26
47    24
49    22
20    21
26    21
34    20
23    20
21    19
22    18
16    18
37    18
25    17
19    17
33    17
Name: state, dtype: int64

In [55]:
churn[['number_customer_service_calls','total_day_calls','total_intl_calls']].mean().round(2)

number_customer_service_calls      2.25
total_day_calls                  100.82
total_intl_calls                   4.15
dtype: float64

In [56]:
not_churn = Telkomsel[Telkomsel['class'] == 0]
not_churn.head(5)
not_churn ["state"].value_counts().head(5)

49    136
45    112
1     111
13    105
23    105
Name: state, dtype: int64

In [57]:
not_churn[['number_customer_service_calls','total_day_calls','total_intl_calls']].mean().round(2)

number_customer_service_calls     1.46
total_day_calls                  99.90
total_intl_calls                  4.48
dtype: float64